{
    "log_level": "INFO",
    "api_url": "https://api.sentinel.la",
    "openstack_credentials": {
        "project": "",
        "password": "",
        "auth_url": "",
        "user": ""
    },
    "plugins": {
        "sentinella.openstack_logs": [
            "get_openstack_events"
        ],
        "sentinella.metrics": [
            "get_server_usage_stats"
        ]
    },
    "log_format": "",
    "log_file": "/var/log/sentinella/sentinella.log",
    "plugins_conf_dir": "/etc/sentinella/conf.d",
    "account_key": "",
    "openstack_services": {
        "nova-novncproxy": {
            "process": "nova-novncproxy",
            "log": "/var/log/nova/nova-novncproxy.log"
        },
        "nova-cert": {
            "process": "nova-cert",
            "log": "/var/log/nova/nova-cert.log"
        },
        "nova-compute": {
            "process": "nova-compute",
            "log": "/var/log/nova/nova-compute.log"
        },
        "nova-conductor": {
            "process": "nova-conductor",
            "log": "/var/log/nova/nova-conductor.log"
        },
        "nova-api": {
            "process": "nova-api",
            "log": "/var/log/nova/nova-api.log"
        },
        "neutron-openvswitch-agent": {
            "process": "neutron-openvswitch-agent",
            "log": "/var/log/neutron/openvswitch-agent.log"
        },
        "neutron-l3-agent": {
            "process": "neutron-openvswitch-agent",
            "log": "/var/log/neutron/l3-agent.log"
        },
        "neutron-dhcp-agent": {
            "process": "neutron-dhcp-agent",
            "log": "/var/log/neutron/dhcp-agent.log"
        },
        "nova-scheduler": {
            "process": "nova-scheduler",
            "log": "/var/log/nova/nova-scheduler.log"
        },
        "neutron-server": {
            "process": "neutron-server",
            "log": "/var/log/neutron/server.log"
        },
        "neutron-metadata-agent": {
            "process": "neutron-metadata-agent",
            "log": "/var/log/neutron/metadata-agent.log"
        }
    }
}
